.hero {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hwb(197 45% 22%);
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.hero-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  margin: 0 0 15px 0;
}
.hero-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
